In [ ]:
print("Hello World!")

Hello World!

**Değişkenler**

Programlama dilinde verileri tutan yapılardır. 

**variable_name = variable_value**

In [ ]:
name = "Büşra"
age = 23
salary = 20000.50

print(name)
print(age)
print(salary)

Büşra
22
20000.5

**Değişkenleri Tanımlama Kuralları**



*   Değişken harf, rakam, alt çizgi kombinasyonunu içermeli
*   Rakamla başlamamalı
*   Büyük küçük harf duyarlı

*   person_name
*   personName

**Bir değişkne değerini değiştirme**

In [ ]:
variable = 40

print(variable)

40

In [ ]:
type(variable) #değişkenin tipini öğrenmek için type() kullanılır.

int

In [ ]:
variable = "büşra"

type(variable)
print(variable)

str

In [ ]:
type(variable)

str

**Büyük küçük harf duyarlıdır**

In [ ]:
variable = "Büşra"
Variable ="Eşkara"

print(variable)
print(Variable)

Büşra
Eşkara

**Değişkenler**

**Integer**

In [ ]:
age = 26

**Float**

In [ ]:
pi_sayisi = 3.14

**Boolean**

In [ ]:
isFemale = True

**String**

In [ ]:
language ="Python"

**Çoklu Değişken Atama**

In [ ]:
number1 = number2 = number3 = 20

print(number2)

20

In [ ]:
name, age, salary, letter, isNumber = "Büşra", 23, 20000.50, 'a', False

print(name)
print(age)
print(salary)
print(letter)
print(isNumber)

Büşra
22
20000.5
a
False

**Değişkenlerde Kapsam** 

*   Yerel
*   Global

**Yerel Değişken** 

Tanımlandığı yerdeki kod bloğunda çalışan değişkenlerdir. Başka yerden erişilemezler.

In [ ]:
def getSalary1():
  salary = 10000
  print("salary1", salary)

def getSalary2():
  print("salary2", salary)

getSalary1()
getSalary2()

salary1 10000
salary2 20000.5

**Global Değişkenler**

Kodun her yerinden erişilebilen değişkenlerdir.

In [ ]:
salary1 = 10000

def getSalary1():
  print("salary1", salary1)

def getSalary2():
  print("salary2", salary1)

getSalary1()
getSalary2()

print("main", salary1)

salary1 10000
salary2 10000
main 10000

Global salary değişkenin değerini değiştirelim.

In [ ]:
salary1 = 10000

def getSalary1():
  salary1 = 15000
  print("salary1", salary1)

def getSalary2():
  print("salary2", salary1)

getSalary1()
getSalary2()

print("main", salary1)

salary1 15000
salary2 10000
main 10000

In [ ]:
salary1 = 10000

def getSalary1():
  global salary1 # salary1 olarak bu metodun içinde kullandığım hepsi salary1 dir.
  salary1 = 15000
  print("salary1", salary1)

def getSalary2():
  print("salary2", salary1)

getSalary1()
getSalary2()

print("main", salary1)

salary1 15000
salary2 15000
main 15000

In [ ]:
salary1 = 10000

def getSalary1():
  global salary1 # salary1 olarak bu metodun içinde kullandığım hepsi salary1 dir.
  salary1 = 15000
  print("salary1", salary1)

def getSalary2():
  print("salary2", salary1)

getSalary2()
getSalary1()

print("main", salary1)

salary2 10000
salary1 15000
main 15000

**Operatörler**

**+** Toplama

**-** Çıkarma

**'*'** Çarpma

**/** Float Bölme

**//** Int Bölme

**%** Mod Alma

****** Üs Alma

In [ ]:
print("3 + 2 = ", 3 + 2)
print("7 - 3 = ", 7 - 3)
print("5 * 4 = ", 5 * 4)
print("6 / 3 = ", 6 / 3) 
print("6 // 4 = ", 6 // 4)
print("9 % 4 = ", 9 % 4)
print("2 ** 5 = ", 2 ** 5)

3 + 2 =  5
7 - 3 =  4
5 * 4 =  20
6 / 3 =  2.0
6 // 4 =  1
9 % 4 =  1
2 ** 5 =  32

**İlişkisel (Karşılaştırma) Operatörleri**

< Küçüktür

'>' Büyüktür

<= Küçük Eşittir

'>=' Büyük Eşittir

== Eşittir

!= Eşit Değildir

In [ ]:
a = 29
b= 13

print(a < b)
print(a > b)

False
True